---
---

@import "jekyll-theme-midnight";

#localmind {
  font-family: "Prociono", serif;
  font-weight: 400;
  font-style: normal;
  background: #0f1113;
  color: #eceff3;
  scroll-behavior: smooth;

  a {
    color: #1E90FF;
  }

  a:hover {
    color: #FF69B4;
  }

  #header {
    height: auto;
    background: #0f1113;
  }

  #header #navigation {
    background: none;
    background-color: transparent;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  #header #navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  #header #navigation ul li a {
    text-wrap: nowrap;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: none;
    background-color: #0f1113;
    box-shadow: none;
    border: none;
    padding: 0;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 1.2em;
  }

  .wrapper section #title h1, h1, h2, h3, h4, h5 {  
    font-family: "League Gothic", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .wrapper section #title p, #title .credits, p strong {
    font-family: "Prociono", serif !important;
    font-weight: 400;
    font-style: normal;
  }

  #header #navigation a:hover {
    text-decoration: none;
  }

}

