---
---

@import "jekyll-theme-midnight";

#header {
  height: auto;
}

#header #navigation {
  background: #353535;
  border-bottom: 1px solid #222;
}

#header #navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

#header #navigation ul li a {
  color: #c9d1d9;
  text-wrap: nowrap;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  background: none;
  background-color: #353535;
  box-shadow: none;
  border: none;
  padding: 0;
}

#header #navigation a:hover {
  color: #58a6ff;
  text-decoration: none;
}

