---
---

@import "jekyll-theme-midnight";

#localmind {
  font-family: "Prociono", serif;
  font-weight: 400;
  font-style: normal;

  #header {
    height: auto;
  }

  #header #navigation {
    background: none;
    background-color: transparent;
    border-bottom: none;
  }

  #header #navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  #header #navigation ul li a {
    color: #c9d1d9;
    text-wrap: nowrap;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    background: none;
    background-color: #353535;
    box-shadow: none;
    border: none;
    padding: 0;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 1.2em;
  }

  .wrapper section #title h1, h1, h2, h3, h4, h5 {  
    font-family: "League Gothic", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .wrapper section #title p, #title .credits, strong {
    font-family: "Prociono", serif;
    font-weight: 400;
    font-style: normal;
  }

  #header #navigation a:hover, #header #navigation a[aria-current="page"] {
    color: #58a6ff;
    text-decoration: none;
  }



}

